body{
    display: flex;
    flex-direction: column;
}
header,#controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    display: flex;
    justify-content: center;
}
